@media only screen and (min-width : 480px) {

}
@media only screen and (max-device-width : 568px) {

}
/* up to iPad-Portrait width */
@media only screen and (max-width: 768px) {
/* CSS rules that apply if we are rendering on a screen from 0px to 768px wide */
}

/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------header--------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

header {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.gif {
  white-space: lightgrey;
  background-color: lightgrey;
}

/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------body----------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/


h1 {
  text-decoration: none;
  font: bold 25px Arial;
}
li {
  /*font-size: 30px;
  border: solid 10px blue;
  margin: 50px;
  padding: 60px;
  box-sizing: border-box;*/
  width: 100%;
  list-style-type: none;
  text-decoration: none;
  display: block;
  text-align: center;
}

.bio {
  width: 80vw;
  margin: 100px auto 10px auto;
}



/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------about---------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/




h2, p {
  margin: 0 auto;
  text-align: center;
  font: bold 20px Arial;
}
p {
    font: bold 11px Arial;
}



/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------pic-and-contact-----------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/



.ed-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  margin: 20px auto;
  border: solid black 1px
}
.info {
  font: bold 14px Arial;
  text-align: center;
}
.contact {
  padding: 0;
  width: 100vw;
  text-align: center;
  font: bold 11px Arial;
  margin-bottom: 20px;
}
span {
  font-style: italic;
}







/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------navigation----------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/

.navigation li {
  margin-bottom: 30px;
}
nav {
  margin-top: 20px;
}
.button {
  font: bold 10px Arial;
  text-decoration: none;
  background-color: #c2cad6;
  color: #94a3ba;
  border-top: 1px solid #b3c0d3;
  border-right: 1px solid #94a3ba;
  border-bottom: 1px solid #94a3ba;
  border-left: 1px solid #b3c0d3;
  padding: 2px 6px;
  border-radius: 12%;
}

/*------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------social--------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
------------------------------------------------------------------------------*/


.social-image {
  padding: 0;
  height: 50%;
  background-color: white;
}

.social-media {
  text-align: center;
}

.social-media li {
  display: inline;
}
.social-media img {
  width: 4vw;
  height: auto;
}




/*-----------------------------------end---------------------------------------*/
/*-----------------------------------end---------------------------------------*/
/*-----------------------------------end---------------------------------------*/
